@mixin h1($color: $titleColor) {
  font-size: 4rem;
  color: $color;
  font-family: $helveticaBold;
  line-height: 1.1;
  @media ($tablet) {
    font-size: 8rem;
  }
}
@mixin h2($color: $titleColor) {
  font-size: 2.5rem;
  color: $color;
  font-family: $helveticaBold;
  line-height: 1.3;
  @media ($tablet) {
    font-size: 4rem;
  }
}
@mixin h3($fontFamily: $helvetica) {
  font-size: 2.4rem;
  color: $titleColor;
  line-height: 1.3;
  font-family: $fontFamily;
  font-weight: normal;
  margin-bottom: 20px;
}
@mixin p1($fontFamily: $avenirMedium) {
  font-size: 1.8rem;
  font-family: $fontFamily;
  line-height: 1.6;
  color: $textColor;
}
@mixin p2($fontFamily: $avenirBook) {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: $fontFamily;
  line-height: 1.6;
  color: $textColor;
  width: 220px;
  height: 160px;
}
%arrow {
  color: $violet;
  font-size: 2rem;
  margin-left: 1.5rem;
}
%light-btn {
  // width: 150px;
  display: flex;
  align-items: center;
  align-self: center;
  border-radius: 50px;
  box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
  background-color: #ffffff;
  text-decoration: none;
  padding: 15px;
  font-family: $avenirHeavy;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.08px;
  color: $titleColor;
  cursor: pointer;
  @media ($max-phone) {
    padding: 17px 29px;
    width: 210px;
  }
  &:hover {
    background-color: rgb(245, 241, 241);
  }
}
@mixin dark-btn($color: $coral) {
  background-color: $color;
  text-decoration: none;
  padding: 10px;
  font-family: $avenirHeavy;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.6;
  color: $white;
  border-radius: 50px;
  display: flex;

  &:hover {
    opacity: 0.5;
  }
  @media ($max-phone) {
    padding: 17px 37px;
    width: 173px;
  }
}
%img {
  object-fit: cover;
  object-position: center;
}
%ball {
  position: absolute;
  background-color: $white;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  top: 10px;
}

%container {
  width: 100%;
  max-width: 111.8rem;
  margin: 0 auto;
}
