//colors
$titleColor: #212353;
$textColor: #4b5d68;
$white: #fff;
$violet: #9c69e2;
$blue: #2d9cdb;
$mint: #68c9ba;
$coral: #f063b8;
$rgba: rgba(240, 99, 184, 0.15);

//fonts;
$social: "socialico";
$avenirBook: "avenir-book", sans-serif;
$avenirHeavy: "avenir-heavy", sans-serif;
$avenirMedium: "avenir-medium", sans-serif;
$helvetica: "helvetica", sans-serif;
$helveticaBold: "helvetica-bold", sans-serif;

//screens
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$max-desktop: "min-width: 1044px";
$screen: "min-width: 1450px";
