.feature {
  position: relative;
  margin-left: 35px;
  margin-right: 0;
  margin-top: 150px;

  @media ($max-phone) {
    margin-top: 180px;
    margin-left: 50px;
  }

  @media ($tablet) {
    margin-left: 140px;
    height: 358px;
    width: 330px;
    margin-top: 50px;
  }

  @media ($max-desktop) {
    width: 350px;
  }

  @media ($screen) {
    width: 383px;
  }
  &__trapezoid {
    position: relative;
    width: 250px;
    height: 250px;
    opacity: 0.1;
    background-color: $mint;
    border-radius: 50px;
    @media ($max-phone) {
      width: 358px;
      height: 358px;
    }
  }
  &__trapezoid.feature__color2 {
    background-color: $violet;
  }
  &__trapezoid.feature__color3 {
    background-color: $coral;
  }
  &__trapezoid.feature__color4 {
    background-color: $blue;
  }
  &__trapezoid::before {
    content: "";
    position: absolute;
    background-color: $mint;
    height: 250px;
    width: 142px;
    border-radius: 55px 50px 104px 43px / 73px 50px 50px 50px;
    transform: rotate(8deg);
    top: 3px;
    left: -24px;
    @media ($max-phone) {
      height: 358px;
      width: 164px;
      top: 3px;
      left: -24px;
    }
  }
  &__color2.feature__trapezoid::before {
    background-color: $violet;
  }
  &__color3.feature__trapezoid::before {
    background-color: $coral;
  }
  &__color4.feature__trapezoid::before {
    background-color: $blue;
  }
  &__item {
    position: absolute;
    width: 220px;
    height: 310px;
    top: 28px;
    right: 5px;
    @media ($max-phone) {
      top: 49px;
      right: 50px;
    }
    @media ($tablet) {
      right: 25px;
    }
    @media ($screen) {
      right: 70px;
    }
  }

  &__text-title {
    @include h3();
    margin-bottom: 0;
  }
  &__text-p {
    @include p2();
  }

  &__img {
    width: 180px;
    position: absolute;
    top: -110px;
    left: 40px;

    @media ($max-phone) {
      width: 232px;
      top: -140px;
      left: 62px;
    }
    @media ($tablet) {
      position: absolute;
      top: 73px;
      left: -155px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    font-family: $avenirHeavy;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 0.08px;
    color: $titleColor;
    text-decoration: none;
    // margin-top: 20px;
    @media ($max-phone) {
      margin-top: 20px;
    }
    &:hover {
      text-shadow: 0 0 1px $titleColor;
    }
  }
  .fas {
    @extend %arrow;
  }
}
