.testimonial {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 20px 0 0 rgba(156, 105, 226, 0.3);
  background-color: #ffffff;
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 380px;

  @media ($tablet) {
    flex-direction: row;
    width: 645px;
    height: 330px;
  }
  &__img {
    @extend %img;
    width: 9rem;
    height: 9rem;
    margin-bottom: 30px;

    @media ($tablet) {
      margin-bottom: 0;
      margin-top: 40px;
      margin-right: 30px;
      align-self: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($tablet) {
      align-items: start;
    }

    &-title {
      @include p1($avenirHeavy);
      color: $titleColor;
      letter-spacing: 0.09px;
    }

    &-link {
      color: $violet;
      text-decoration: none;
      cursor: pointer;
      font-family: $avenirMedium;
      font-size: 1.4rem;
      letter-spacing: 0.14px;
      margin-bottom: 19px;
    }
    &-text {
      @include p1();
      line-height: 1.8;
      width: 250px;

      @media ($tablet) {
        width: 385px;
      }
    }
  }
}
