.footer {
  @extend %container;
  display: flex;
  flex-direction: column;
  @media ($tablet) {
    padding: 0 20px;
  }
  @media ($screen) {
    padding: 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    @media ($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media ($desktop) {
      margin-bottom: 150px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      @media ($tablet) {
        margin-bottom: 0;
        align-items: unset;
      }

      &__title {
        @include h2();
        margin-bottom: 20px;
      }
      &__p {
        @include p1();
      }
    }
    &-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-btn a:first-child {
      margin-right: 10px;
      @media ($tablet) {
        margin-right: 30px;
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($tablet) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 320px;

      @media ($tablet) {
        width: 280px;
      }

      @media ($screen) {
        width: 335px;
        margin-right: 140px;
      }

      &__title {
        @include h3($avenirHeavy);
        font-size: 2rem;
        margin-left: 2rem;
        margin-bottom: 0;
        width: 320px;
      }

      &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;

        @media ($tablet) {
          margin-bottom: 67px;
        }
      }
      &__contacts {
        font-family: $avenirBook;
        font-size: 16px;
        letter-spacing: 0.16px;
        color: $titleColor;
        align-self: left;
      }
      &__adress {
        font-family: $avenirMedium;
        font-size: 1.6rem;
        line-height: 1.8;
        letter-spacing: 0.16px;
        color: $titleColor;
        margin-bottom: 10px;
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      @media ($tablet) {
        flex-direction: row;
        margin-top: 0;
        padding-top: 5px;
        justify-content: space-between;
      }

      &__about {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 320px;

        @media ($tablet) {
          flex-direction: column;
          width: 150px;
          height: 200px;
        }
        @media ($screen) {
          width: 166px;
          margin-right: 50px;
        }
      }
      &__about a {
        text-decoration: none;
        font-family: $avenirMedium;
        font-size: 1.6rem;
        line-height: 2.5;
        color: $titleColor;
      }
      &__about a:first-child {
        font-family: $avenirHeavy;
        color: $titleColor;
        font-size: 1.6rem;
        line-height: 2.5;
        @media ($tablet) {
          line-height: 1.6;
          margin-bottom: 30px;
        }
      }
      &__help {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 320px;

        @media ($tablet) {
          flex-direction: column;
          width: 100px;
          height: 240px;
        }
        @media ($screen) {
          width: 166px;
          margin-right: 50px;
        }
      }
      &__help a {
        text-decoration: none;
        font-family: $avenirMedium;
        font-size: 1.6rem;
        line-height: 2.5;
        color: $titleColor;
      }
      &__help a:first-child {
        font-family: $avenirHeavy;
        color: $titleColor;
        font-size: 1.6rem;
        line-height: 2.5;
        @media ($tablet) {
          line-height: 1.6;
          margin-bottom: 3rem;
        }
      }
    }
    &-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px auto;

      @media ($tablet) {
        margin: 7px 30px 0 0;
      }
      &__title {
        font-family: $avenirHeavy;
        color: $titleColor;
        font-size: 1.6rem;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }
  }
  &__basement {
    @extend %container;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    @media ($tablet) {
      justify-content: space-between;
      margin: 93px 0;
    }
    &-copy {
      font-family: $avenirBook;
      font-size: 1.2rem;
      line-height: 1.8;
      letter-spacing: 0.12px;
      color: $titleColor;
    }
  }
}
.dark-btn {
  @include dark-btn($coral);
}
