@import "./utils";
@import "./components";
@import "./layout";

.divider {
  max-width: 1600px;
  height: 2px;
  background-color: $violet;
  opacity: 0.2;
  margin: 60px auto 40px;

  @media ($desktop) {
    margin: 150px auto 100px;
  }
}
